.wavingHand {
  animation-name: waveAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes waveAnimation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  15% {
    transform: rotate(-25deg);
  }
  20% {
    transform: rotate(14deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(10deg);
  }
  35% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
