.link,
.underlinedLink {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link {
  background-size: 0% 2px;
}

.underlinedLink {
  background-size: 100% 2px;
}

.link:hover,
.link:focus {
  background-size: 100% 2px;
}

.underlinedLink:hover,
.underlinedLink:focus {
  background-size: 0% 2px;
}
