.button {
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  position: relative;
}

.button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--mantine-color-text);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
