.dropdown {
  background-color: var(--mantine-color-body);
}

.item {
  color: var(--mantine-color-text);
}

.item:hover {
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-slate-8)
  );
}

.itemLabel {
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
}
