html {
  scroll-behavior: smooth;
}

:root[data-mantine-color-scheme='light'] {
  --mantine-color-text: #000 !important;
}

/* TODO: Decide colors */
:root[data-mantine-color-scheme='dark'] {
  /* --mantine-color-text: var(--mantine-color-yellow-0) !important; */
  --mantine-color-text: #fff !important;
  --mantine-color-body: var(--mantine-color-slate-9) !important;
}
